[build]
target = ["wasm32-wasip1"]

[target.wasm32-wasip1]
runner = "wasmtime run --dir ."
rustflags = [
  "-C",
  "target-feature=+simd128,+bulk-memory,+multivalue",
  "-C",
  "link-args=--initial-memory=16777216",
  "-C",
  "link-args=--max-memory=2147483648",
]

[unstable]
build-std = ["std", "panic_abort", "core", "alloc"]
