name: Check

on:
  push:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Export commit timestamp
        run: echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV

      - name: Setup binaryen
        uses: phi-ag/setup-binaryen@67f45b467391407d8b396e2bf2155c16e49a1c9e # v1

      - name: Rustup
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1

      - name: Build wasm
        run: ./build.sh

      - name: Upload wasm
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: main.wasm
          path: dist/main.wasm
          retention-days: 5

      - name: Setup wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@6aecabac1eb1dcf7ed94ba9471974415ee2ebef2 # v1

      - name: Test wasm
        run: cargo test

      - name: Restore
        uses: ./.github/actions/restore

      - name: Audit
        continue-on-error: true
        run: pnpm audit

      - name: Format
        continue-on-error: true
        run: pnpm format:check

      - name: Lint
        continue-on-error: true
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck

      - name: Test
        run: pnpm test:coverage

      - name: Build
        run: pnpm build
